@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  position: relative;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.navbar {
  background-color: #111827;
  padding: 1em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar-title {
  color: white;
  font-size: 1.5em;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* notes view */
.header {
  margin-top: 1em;
}
.header {
  font-size: 1.75em;
}

.content, .header {
  display: flex;
  justify-content: center;
}

.content > p {
  padding: 1em;
  border: 1px solid grey;
  width: 90%;
  max-width: 900px;
}
